src/*.exe
src/unixcoin
src/unixcoind
src/test_unixcoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.unixcoin
#compilation and Qt preprocessor part
*.qm
Makefile
unixcoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
